body{
    background-size:cover ;
    background-position: center;
    background:linear-gradient(45deg, #ff0000 0%,#fac905 100%);
    }
    
    
    .heading
    {
    font-size: 25px;
    width: 100%;
    margin: 0px;
    }
    
    #status
    {
    font-size: 18px;
    }

    a{
        
    }